.vis.timeline {
}


.vis.timeline.rootpanel {
  position: relative;
  overflow: hidden;

  border: 1px solid #bfbfbf;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.vis.timeline .panel {
  position: absolute;
  overflow: hidden;
}


.vis.timeline .groupset {
  position: absolute;
  padding: 0;
  margin: 0;
}

.vis.timeline .labels {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;

  border-right: 1px solid #bfbfbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.vis.timeline .labels .label-set {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;

  border-top: none;
  border-bottom: 1px solid #bfbfbf;
}

.vis.timeline .labels .label-set .label {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  color: #4d4d4d;
}

.vis.timeline.top .labels .label-set .label,
.vis.timeline.top .groupset .itemset-axis {
  border-top: 1px solid #bfbfbf;
  border-bottom: none;
}

.vis.timeline.bottom .labels .label-set .label,
.vis.timeline.bottom .groupset .itemset-axis {
  border-top: none;
  border-bottom: 1px solid #bfbfbf;
}

.vis.timeline .labels .label-set .label .inner {
  display: inline-block;
  padding: 5px;
}


.vis.timeline .itemset {
  position: absolute;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.vis.timeline .background {
}

.vis.timeline .foreground {
}

.vis.timeline .itemset-axis {
  position: absolute;
}


.vis.timeline .item {
  position: absolute;
  color: #1A1A1A;
  border-color: #97B0F8;
  background-color: #D5DDF6;
  display: inline-block;
}

.vis.timeline .item.selected {
  border-color: #FFC200;
  background-color: #FFF785;
  z-index: 999;
}

.vis.timeline .item.point.selected {
  background-color: #FFF785;
  z-index: 999;
}
.vis.timeline .item.point.selected .dot {
  border-color: #FFC200;
}

.vis.timeline .item.cluster {
  /* TODO: use another color or pattern? */
  color: white;
}
.vis.timeline .item.cluster.point {
  border-color: #D5DDF6;
}

.vis.timeline .item.box {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  -moz-border-radius: 5px; /* For Firefox 3.6 and older */
}

.vis.timeline .item.point {
  background: none;
}

.vis.timeline .dot {
  border: 5px solid #97B0F8;
  position: absolute;
  border-radius: 5px;
  -moz-border-radius: 5px;  /* For Firefox 3.6 and older */
}

.vis.timeline .item.range {
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  -moz-border-radius: 2px;  /* For Firefox 3.6 and older */
}

.vis.timeline .item.rangeoverflow {
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  -moz-border-radius: 2px;  /* For Firefox 3.6 and older */
}

.vis.timeline .item.range .drag-left, .vis.timeline .item.rangeoverflow .drag-left {
  cursor: w-resize;
  z-index: 1000;
}

.vis.timeline .item.range .drag-right, .vis.timeline .item.rangeoverflow .drag-right {
  cursor: e-resize;
  z-index: 1000;
}

.vis.timeline .item.range .content, .vis.timeline .item.rangeoverflow .content {
  position: relative;
  display: inline-block;
}

.vis.timeline .item.line {
  position: absolute;
  width: 0;
  border-left-width: 1px;
  border-left-style: solid;
}

.vis.timeline .item .content {
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.vis.timeline .axis {
  position: relative;
}

.vis.timeline .axis .text {
  position: absolute;
  color: #4d4d4d;
  padding: 3px;
  white-space: nowrap;
}

.vis.timeline .axis .text.measure {
  position: absolute;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  visibility: hidden;
}

.vis.timeline .axis .grid.vertical {
  position: absolute;
  width: 0;
  border-right: 1px solid;
}

.vis.timeline .axis .grid.horizontal {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0;
  border-bottom: 1px solid;
}

.vis.timeline .axis .grid.minor {
  border-color: #e5e5e5;
}

.vis.timeline .axis .grid.major {
  border-color: #bfbfbf;
}

.vis.timeline .currenttime {
  background-color: #FF7F6E;
  width: 2px;
  z-index: 9;
}
.vis.timeline .customtime {
  background-color: #6E94FF;
  width: 2px;
  cursor: move;
  z-index: 9;
}
